# Querying MIMIC

#### BIME 498, Special Topics - SPR 2019
#### Exploring the Multi-parameter Intelligent Monitoring in Intensive Care (MIMIC) database.


This tutorial walks through simply querying in MIMIC using Jupyter Notebook as the primary database interface instead of pgadmin4.  This was done to smooth the process of data processing and machine learning exercises, so that we wouldn't have to separately log in, query MIMIC in pgadmin4, download each query as a CSV, and subsequently upload CSV files into panda dataframes.  The tutorial assumes some prerequisites:

1) You should have already installed Python via Anachonda.

2) You should already have postgreSQL 10.6, 11.1 downloaded.  

3) You should be connected to the remote database through the ssh tunnel in git bash.  

4) You should have installed pandas for data management purposes.

5) You should have installed numpy for statistical programming requirements.

6) You should have installed psycopg2 to communicate with postgres.

7) You should have completed all required CITI PROGRAM training modules to access to MIMIC data.

Import the appropriate libraries:

In [1]:
import numbers
import numpy as np
import pandas as pd
import psycopg2 as ps
from matplotlib import pyplot as plt

Connect to the database, with the following parameters.  Remember, you must first connect through the SSH tunnel; otherwise the connection will fail and you will see an error message.

In [11]:
param = { 
    'host':'127.0.0.1',
    'port' : '5432',
    'dbname' : 'mimic_iii',
    'user' : 'mimic_ro',
    'password' : 'uj3&24rSD%$F'
}

try:
    conn = ps.connect(**param)    
except (Exception, ps.DatabaseError) as error:
    print(error)

cur = conn.cursor()

##  Getting started with MIMIC tables

There're two ways to select columns depending on your comfort with SQL querying syntax or Pandas. You could `SELECT` particular columns in the query itself, or you could elect to drop columns once the data has been read into a Pandas dataframe using `read_sql_query()` and `drop()`.  

In the event that you want to check your work and print the table you've manipulated, it is recommended that you set a row `LIMIT` in the query to prevent hundreds of thousands of rows of data from crashing your notebook. In the example below, only the first 10 rows have been imported to the dataframe.

In [4]:
sql_1 = "SELECT * FROM mimic_iii.d_icd_procedures"
chartevents = pd.read_sql_query(sql_1, conn)
chartevents.head()

,row_id,icd9_code,short_title,long_title
0,264,0851,Canthotomy,Canthotomy
1,265,0852,Blepharorrhaphy,Blepharorrhaphy
2,266,0859,Adjust lid position NEC,Other adjustment of lid position
3,267,0861,Lid reconst w skin graft,Reconstruction of eyelid with skin flap or graft
4,268,0862,Lid reconst w muc graft,Reconstruction of eyelid with mucous membrane ...

In [4]:
chartevents.loc[chartevents.icd9_code == '073']

     row_id icd9_code              short_title               long_title
130     394       073  Bilateral adrenalectomy  Bilateral adrenalectomy

## 1a. Admissions criteria

Find cause for admissions to the ICU with a simple word counter. If you need help using the admissions table, go to: https://mimic.physionet.org/mimictables/admissions/.

In [5]:
# your answer here
sql_2 = "SELECT * FROM mimic_iii.admissions"
admissions = pd.read_sql_query(sql_2, conn)

In [38]:
#column names
list(admissions)

['row_id',
 'subject_id',
 'hadm_id',
 'admittime',
 'dischtime',
 'deathtime',
 'admission_type',
 'admission_location',
 'discharge_location',
 'insurance',
 'language',
 'religion',
 'marital_status',
 'ethnicity',
 'edregtime',
 'edouttime',
 'diagnosis',
 'hospital_expire_flag',
 'has_chartevents_data']

You now have an idea of the diverse spread of the reason for patient's admittance. Let's get more specific.

The opioid crisis has been rampant, and commands particular salience in today's news.  What percentage of people were admitted for overdoses. Is the number what you might expect? Can you hypothesize why this percentage might be so low or high?

In [20]:
# your answer here
overdose_dat = admissions.loc[admissions.diagnosis == 'OVERDOSE']

#percentage of people admitted for an overdose
len(overdose_dat)/len(admissions)

0.003509902333152469

### Answer: 
about .35% of people were admitted for overdose. The number is probably this low because either patients who are diagnosed with overdose are admitted to a different section of the hospital or perhaps compared to the number of other diagnoses at the ICU, overdosage on drugs is a minority diagnosis.

## 1b. What does Admissions table say about death?

Again, observe the column titles associated with the Admissions table.  Find the frequency of ICU deaths as a percentage of total ICU admittance.

In [18]:
# your answer here
death_dat = admissions.loc[admissions['deathtime'].notnull()]

In [21]:
len(death_dat)/len(admissions)

0.09926071622354857

### Answer
The total percentage of ICU deaths as a percentage of total ICU deaths is 9.93% of total admissions

## 2. Diagnoses

Billable diagnoses are recorded according to ICD9 codes, which specify different disease on a coded basis. (Healthcare currently uses ICD10, but at the time of the MIMIC data, ICD9 was used. Do not confuse ICD10 with ICD9!) A quick Google search should give you a good idea of how the ICD9 codes are organized. For starters, V codes are for diagnoses unrelated to an underlying disease or disorder; E codes are for diagnoses with an environmental cause. All other codes are purely numerical. For a quick rundown of the diagnoses table in MIMIC, go to: https://mimic.physionet.org/mimictables/diagnoses_icd/

Look up the ICD9 code conventions and design a method to count codes, and therefore diagnosis frequency. As a warning, the Mimic database converts the usual ICD9 codes into integers. Thus, "401.9", for hypertension, becomes "4019". 

Provide a list of the top ten ICD9 codes, and their count (the number of patients with this diagnosis).

In [3]:
# your answer here
sql_3 = "SELECT * FROM mimic_iii.diagnoses_icd"
diag_icd = pd.read_sql_query(sql_3, conn)

In [4]:
#find sum of nan values
diag_icd.isnull().sum()

row_id         0
subject_id     0
hadm_id        0
seq_num       47
icd9_code     47
dtype: int64

In [5]:
#drop na values
diag_icd = diag_icd.dropna()

In [6]:
icd9 = np.array(diag_icd.icd9_code)

In [7]:
unique,counts = np.unique(icd9, return_counts = True)

In [8]:
df = {'icd9': unique, 'counts': counts}
df = pd.DataFrame(df)

In [9]:
df.sort_values(by= 'counts', ascending = False).head(10)

       icd9  counts
1962   4019   20703
2109   4280   13111
2098  42731   12891
2019  41401   12429
2957   5849    9119
824   25000    9058
946    2724    8690
2536  51881    7497
3028   5990    6555
2633  53081    6326

According to the data above, what is the number one diagnosis made upon ICU admittance?  How many people are coming in with diabetes?

The number one diagnosis is Hypertension NOS upon ICU admittance. The icd9 code for diabetes is 250.00 which translate to 25000 in the mimic database. It seems that 9058 diagnoses for diabetes are made upon ICU admittance

## 3. Medications (Prescriptions)

What medications are patients given who share a diagnosis? For example, how often do hypertension patients also take insulin? (which would mean that they are also diabetic!) In addition, how similar are the top 10 medications for patients with the same diagnosis (you would expect some level of consistency, if physicians are treating the same disease in the same way). In the Mimic database, we have a table of prescriptions, (https://mimic.physionet.org/mimictables/prescriptions/) which will use as a proxy for the medications the patient is taking. 

To carry out these queries, you'll need to use tables that have prescriptions as well as the ICD9 diagnosis table. You should choose which disease / diagnosis you will inspect: Please use one of these three: Diabetes, Hypertension, or Heart disease. For your disease, print out the top 20 prescriptions. Also, you must indicate what percentage of patients had each of these prescriptions. (E.g., a large percentage of diabetes patients will have insulin prescribed. But does the data show 80%? 95%? 99%?)

In [10]:
# your answer here
sql_4 = "SELECT * FROM mimic_iii.prescriptions"
prescriptions = pd.read_sql_query(sql_4, conn)

In [12]:
list(prescriptions)

['row_id',
 'subject_id',
 'hadm_id',
 'icustay_id',
 'startdate',
 'enddate',
 'drug_type',
 'drug',
 'drug_name_poe',
 'drug_name_generic',
 'formulary_drug_cd',
 'gsn',
 'ndc',
 'prod_strength',
 'dose_val_rx',
 'dose_unit_rx',
 'form_val_disp',
 'form_unit_disp',
 'route']

In [13]:
prescriptions.head()

,row_id,subject_id,hadm_id,icustay_id,startdate,enddate,drug_type,drug,drug_name_poe,drug_name_generic,formulary_drug_cd,gsn,ndc,prod_strength,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,route
0,3704362,78874,112516,280754.0,2126-05-19,2126-05-22,MAIN,TraMADOL (Ultram),TraMADOL (Ultram),TraMADOL (Ultram),TRAM50,023139,00406717162,50mg Tablet,50,mg,1,TAB,PO
1,3704360,78874,112516,280754.0,2126-05-19,2126-05-22,MAIN,Sodium Chloride 0.9% Flush,Sodium Chloride 0.9% Flush,Sodium Chloride 0.9% Flush,NACLFLUSH,None,0,Syringe,10,mL,2,SYR,IV
2,3704359,78874,112516,280754.0,2126-05-19,2126-05-22,MAIN,Sodium Chloride 0.9% Flush,Sodium Chloride 0.9% Flush,Sodium Chloride 0.9% Flush,NACLFLUSH,None,0,Syringe,3,mL,0.6,SYR,IV
3,3704358,78874,112516,280754.0,2126-05-19,2126-05-22,MAIN,Insulin,Insulin,Insulin - Sliding Scale,INSULIN,027413,0,Dummy Package for Sliding Scale,0,UNIT,0,VIAL,SC
4,3704357,78874,112516,280754.0,2126-05-19,2126-05-22,MAIN,Ranitidine,Ranitidine,Ranitidine,RANI150,011673,00904526161,150mg Tablet,150,mg,1,TAB,PO/NG

In [14]:
diag_icd.sample(10)

        row_id  subject_id  hadm_id  seq_num icd9_code
514521  499130       66093   163645      5.0     56721
4654      4268         357   117876      7.0      5119
649272  638925       97307   169958     14.0     45829
116216  122373       10899   132881     16.0      4019
43639    21429        1931   199884      6.0      5939
508298  503972       67158   131180      2.0     51851
104147  117855       10515   187982      9.0     41401
536707  544277       76193   166269      2.0     42832
400992  378457       32759   158709     19.0     25000
528797  512849       69023   124839      9.0      5859

In [15]:
diag_icd.dtypes

row_id          int64
subject_id      int64
hadm_id         int64
seq_num       float64
icd9_code      object
dtype: object

In [16]:
prescriptions.dtypes

row_id                        int64
subject_id                    int64
hadm_id                       int64
icustay_id                  float64
startdate            datetime64[ns]
enddate              datetime64[ns]
drug_type                    object
drug                         object
drug_name_poe                object
drug_name_generic            object
formulary_drug_cd            object
gsn                          object
ndc                          object
prod_strength                object
dose_val_rx                  object
dose_unit_rx                 object
form_val_disp                object
form_unit_disp               object
route                        object
dtype: object

In [18]:
#find all patients with diabetes
diab = diag_icd.loc[diag_icd.icd9_code == '25000']

diab_un = diab.subject_id.unique()
diab_un[0]

117

In [19]:
len(diab_un)

7370

In [23]:
df2 = prescriptions.loc[prescriptions.subject_id.isin(diab_un)]

In [112]:
df2.sample(10)

,row_id,subject_id,hadm_id,icustay_id,startdate,enddate,drug_type,drug,drug_name_poe,drug_name_generic,formulary_drug_cd,gsn,ndc,prod_strength,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,route
2300280,1195930,24074,167353,NaN,2130-01-21,2130-01-22,MAIN,Bisacodyl,Bisacodyl,Bisacodyl,BISA5,002947,52959067430,5 mg Tab,10,mg,2,TAB,PO
2653155,1057547,27789,149943,246257.0,2109-09-04,2109-09-07,MAIN,Acetaminophen,Acetaminophen,Acetaminophen,ACET325,004489,00182844789,325mg Tablet,650,mg,2,TAB,PO
2434774,2703326,24330,157471,293958.0,2181-07-31,2181-07-31,BASE,Bag,None,None,BAG50,None,0,50 mL Bag,50,mL,1,BAG,IV
973191,940886,4644,184074,221643.0,2132-06-22,2132-06-23,MAIN,Furosemide,Furosemide,Furosemide,FURO40I,008205,00517570425,40mg/4mL Vial,40,mg,1,VIAL,IV
1341977,1720621,9834,171264,230425.0,2141-02-13,2141-02-14,MAIN,Metoprolol,Metoprolol,Metoprolol,METO25,050631,51079025520,25mg Tablet,25,mg,1,TAB,PO
1406603,1824189,10487,188380,254209.0,2134-10-13,2134-10-19,MAIN,Insulin,Insulin,Insulin Human NPH,INNHI,001740,00002831501,10ML VIAL,45,UNIT,0.45,ml,SC
2944082,949805,31171,158616,251941.0,2121-04-23,2121-04-25,MAIN,Heparin,Heparin,Heparin,HEPA30I,006543,63323054031,1000 Units/mL- 30mL Vial,1000-2000,UNIT,1-2,mL,IV
2344381,2286138,24727,125742,291363.0,2169-06-18,2169-06-19,MAIN,Amiodarone HCl,Amiodarone HCl,Amiodarone HCl,AMIO150I,017240,00008081401,150mg/3mL Vial,150,mg,1,VIAL,IV
1240235,406633,7476,184920,224381.0,2190-10-16,2190-10-19,MAIN,Captopril,Captopril,Captopril,CAPT25,000380,59772704602,25MG TAB,25,mg,1,TAB,PO
2057987,2513816,19079,142677,NaN,2181-05-17,2181-05-18,BASE,NS,None,None,METRBASE,None,0,100ml,100,mL,100,mL,IV

In [104]:
##some patients have been prescribed drugs more than once on a different date this filters out repeat data
sortedt = df2.groupby('subject_id')['drug'].unique()

# compiled sortedt drugs into one list
list1 = []
for row in sortedt: 
    list1.extend(list(row))

In [107]:
list1 = np.array(list1)
unique,counts = np.unique(list1, return_counts = True)

In [108]:
df3 = {'drug': unique, 'counts': counts}
df3 = pd.DataFrame(df3)

In [109]:
df3.sample(10)

                                   drug  counts
1335                Metronidazole 0.75%       3
303   Betamethasone Valerate 0.1% Cream       2
1697                          Prasugrel      19
152                              Altace       2
483                      Clarithromycin      50
290         Beclomethasone Dipropionate      28
1091     Kaopectate/Benadryl/Lido Visc.       7
846                            GELCLAIR       7
786                          Filgrastim      77
1054            Ipratropium Bromide HFA       2

In [110]:
df3 = df3.sort_values(by = 'counts', ascending = False).head(20)
df3['percentage'] = df3.counts/len(df2.subject_id.unique())

## Table of top 20 drugs

In [111]:
df3

                             drug  counts  percentage
1033                      Insulin    6644    0.961783
1867  Sodium Chloride 0.9%  Flush    5962    0.863057
81                  Acetaminophen    5727    0.829039
1684           Potassium Chloride    5590    0.809207
1249            Magnesium Sulfate    5275    0.763607
671               Docusate Sodium    4901    0.709467
918                       Heparin    4859    0.703387
844                    Furosemide    4729    0.684569
566                           D5W    4530    0.655761
1063         Iso-Osmotic Dextrose    4459    0.645483
1383             Morphine Sulfate    4334    0.627389
1424                           NS    4113    0.595397
1825                           SW    4110    0.594962
383             Calcium Gluconate    4037    0.584395
235                       Aspirin    3990    0.577591
314                     Bisacodyl    3929    0.568761
1842                        Senna    3693    0.534598
1593                 Pantoprazole    3658    0.529531
621                  Dextrose 50%    3628    0.525188
42           0.9% Sodium Chloride    3095    0.448031

## 4. Open choice query
See directions in the assignment specification. Explain your query (briefly) in this mark-down cell, and provide your answer below.  
In our paper https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4975403/ about Predictive Big Data Analytics: A Study of Parkinsons Disease Using Large, Complex, Heterogeneous, Incongruent, Multi-Source and Incomplete Observations exploration on big data

The paper aims to utilize big data analytics for Parkinsons disease, where it is collected and managed by Parkinsons Progression Markers Initiative (PPMI). Previous studies have examined the relationship of the disease and risk to trauma, genetics, environment, or lifestyle, and Prof. Draganskis team have integrated complex PPMI imaging, genetics, and clinical/demographic data. The paper emphasizes the collection of data of multiple sources to encompass the defining characteristics of Big Data, which include large size, incongruency, incompleteness, complexity, multiplicity of scales, and heterogeneity of data. Data characterization in this paper is uniquely spread into 3 main concepts: introduction of new methods for rebalancing data, use of wide classification methods for consistent phenotype predictions, and generate reproducible machine-learning classification that can incorporate new data as well as application for other neurodegenerative disorders. 

Because the Mimic database contains highly specific data to the ICU, a lot of the data necessary to pursue the analytics described in the paper is not available. In the paper there was exploratory analysis done on gender and their implications on past studies on parkinson's. The analysis from the paper proved that gender had negligible implications on getting Parkinson's. Using the mimic database, we queried the distribution of gender amongst admitted parkison's patients, and we analyzed the death rate of parkison's patients in male and female patients. Although a more interesting query could be made with the age of the patients, because of the complicance to HIPPA, the age for many of the patients is altered for the sake of patient privacy. Due to this, analysis based on age would prove to be very difficult, especially since the population of patients with Parkinson's would be around the 89 year age which is in the age range of many parkison's patients given that Parkison's is a disease that affects 1 in every 100 people over 60 years of age and parkison's patients have a lifespan of around 10-20 years after diagnosis. We figured that the variable 'expire_flag' would serve as a makeshift variable that could be indicative of age, operating under the assumption that most parkison's patients die when they are more senior without factoring in the possibilities of early onset Parkinson's, and other reason's for death.

In [113]:
# youe answer here
sql_5 = "SELECT * FROM mimic_iii.patients"
patients = pd.read_sql_query(sql_5, conn)

In [147]:
patients.sample(10)

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
18247,16656,17615,M,2178-08-14,NaT,NaT,NaT,0
43305,42597,84885,M,2037-11-06,NaT,NaT,NaT,0
2906,3945,4174,M,2148-02-02,NaT,NaT,NaT,0
22061,28644,30475,M,2097-06-23,NaT,NaT,NaT,0
24185,36695,62345,M,2056-08-21,2122-09-25,2122-09-25,2122-09-25,1
35709,32410,46208,F,2117-02-04,2177-10-29,NaT,2177-10-29,1
37867,46139,98555,M,2113-01-18,NaT,NaT,NaT,0
18243,16652,17611,M,2187-12-22,NaT,NaT,NaT,0
15159,15222,16100,M,2102-08-15,NaT,NaT,NaT,0
6376,6086,6429,F,2114-12-27,NaT,NaT,NaT,0

In [118]:
park = diag_icd.loc[diag_icd.icd9_code == '3320']
sub_id = park.subject_id.unique()

In [121]:
len(sub_id)

397

In [122]:
park_pat = patients.loc[patients.subject_id.isin(sub_id)]

In [135]:
gender,counts1 = np.unique(np.array(park_pat.gender), return_counts = True)
print(gender)
print(counts1)

['F' 'M']
[143 254]

In [137]:
expire, counts2 = np.unique(np.array(park_pat.expire_flag), return_counts = True)
print(expire)
print(counts2)

[0 1]
[137 260]

In [139]:
female = park_pat.loc[park_pat.gender == 'F']
male = park_pat.loc[park_pat.gender == 'M']

In [144]:
expire1, counts3 = np.unique(np.array(female.expire_flag), return_counts = True)
expire2, counts4 = np.unique(np.array(male.expire_flag), return_counts = True)

In [146]:
print(counts3)
print(counts4)

[52 91]
[ 85 169]

the above matrix signifies the number of deaths in each gender for patients with parkinsons. 
by row: [alive, dead]; by column: [female, male]

## Close the connection

Once you're done with your work, close the connection to the database, and remember to save your work!

In [42]:
cur.close()
conn.close()